*{
    font-family: Helvetica, sans-serif;
}.detail-card{
    display: inline-block;
    height: 80%;
    width: 92%;
    text-align: center; 
    border-style: solid;
    border-radius: 10px;
    padding: 4vw;
    margin: 2vw;
    align-items: center;
    border-style: solid;
    background: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 20px;
}

#name{
    font-size: 20px;
    font-weight: normal;
}

img{
    max-width: 60% ;
  
    border-radius: 5px;
   
}

button{
    border: none;
    background-color: rgb(228, 228, 228);
}

#editButton{
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    height: 10px;   
    width: 15px;
}
#deleteButton{
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    height: 15px;   
    width: 15px;
}

#addButton{
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    height: 10px;   
    width: 10px;
}