.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#card {
  border-style: solid;
  width: 15vw;
  height: 12vw;
  padding: 4vw;
  margin: 2vw;
  align-items: center;
  border-style: solid;
  
}

.header {
  display: flex;
  align-items: center;
}

.cardDisplay {
  display: flex;
}

.form {
  display: flex;
  padding: 10px;
  margin: 10px;
}

.input {
  padding: 10px;
  margin: 10px;
}

.submit {
  padding: 10px;
  margin: 10px;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: purple;
}

/* .calendarCells {
  padding: 10px;
  margin: 15px;
  display: flex;
}

.react-calendar__tile {
  margin: 1px;
  width: 2vw;
  height: 10vh;
}

.react-calendar__month-view__weekdays__weekday {
  display: flex;
  text-align: center;
  flex-direction: column;

} */

.react-calendar__tile  {
  color: blue;
}