.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgb(255, 255, 255);
  height: 100px; 
  width: 100%;
}

 body{
   background: rgb(88, 88, 199);
 }


.container {
  display: inline-grid; 
   grid-template-columns: auto auto auto;
   align-items: center;
}

#card {
  display: inline-grid;
  grid-template-columns: auto auto auto; 
  display: inline-block;
  height: 50vh;
  width: 25vw;
  text-align: center; 
  border-style: solid;
  border-radius: 10px;
  padding: 4vw;
  margin: 2vw;
  align-items: center;
  border-style: solid;
  background: rgb(228, 228, 228);
  border-radius: 10px;
  padding: 20px;

}
#create{
  
  /* display: inline-block; */
  /* height: 50vh;
  width: 25vw;
  text-align: center;  */
  /* border-style: solid;
  border-radius: 10px;
  padding: 4vw;
  margin: 2vw;
  align-items: center;
  border-style: solid;
  background: rgb(228, 228, 228);
  border-radius: 10px;
  padding: 20px; */
}


li{
  font-weight: 800;
  color:rgb(44, 44, 97);
  list-style-type: none;
}

#logo {
  list-style-type: none;
  padding: 20px;
}

#events{
  align-items: right;
  padding: 50px;
  list-style-type: none;
  

}

#account{
  align-items: right;
  padding: 50px;
  list-style-type: none;
}
#calendar{
  align-items: right;
  padding: 50px;
  list-style-type: none;
}

 


.form {
  text-align: center;
  margin: 5px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(228, 228, 228);
  width: 300px;
  font-size: 20px;
}



.input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.submit {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

#logo{
  height: 80px;
  align-items: left;
}



.react-calendar__month-view__weekdays__weekday {
  display: flex;
  text-align: center;
  flex-direction: column;

} 

.react-calendar__tile  {
  color: blue;
}
